*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /* display: flex;
    flex-direction: column;
     */
}
.upper{
    
   display: flex;
   justify-content: center;
   margin-top: 50px;
  
}
.header{
    height: 10%;
    width: 79%;
    display: flex;
    justify-content: space-between;
    font-family: "archivo black";
    align-items: center;
    justify-items: center;    
    
}
#navlist{
    display: none;
    /* justify-content: space-between; */
    gap: 3rem;
    list-style: none;
    font-size: 1.2rem;
    font-family: "lato";
    font-weight: bolder;
    transform: color 0.1s;

    
}
@media  screen and (min-width:1050px) {
    #navlist{
        display: flex;
    }
    
}
.header a{
    text-decoration: none;
    color: rgb(76, 62, 127);
}
.logo img{
    height: 2.25rem; 
    padding-left: 2rem;  
}
.logo{ 
    display: flex;
    
    
}
.contact{
    width: 7.5rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "archivo black";
    font-weight: bold;
    transform: all 0.1s;
    border: none;
    display: none;
}
#navlist a:hover{
    color: blue;
}
.contact:hover{
    /* background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%); */
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
    /* background: linear-gradient(to right, #434343 0%, black 100%); */
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}
@media screen and (min-width:1050px) {
    .contact{
        display:block;
    }
    
}
.menu{
    background-color: white;
    border: none;
}
.menuicon{
    height: 2.25rem;
    width: 3rem;
    display: none;
}
@media screen and (max-width:1050px) {
    .menuicon{
        display: block;
    }
    
}
.co{
    display: flex;

}
.content{
   
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    
  
 
    
}
.main{
    display:flex;
    width:80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.6rem;
    margin: 2rem;
   
    
    
    
}
.rightcontent{
   border: none;
   border-radius: 1.2rem;
   overflow: hidden;
   height: 70vh;
   width: 100vw;
   box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
 display: flex;   
 justify-content: center;
}
.rightcontent img{
    /* height: 150%;
    width: 100%; */
    height: 100%;
    width: 70%;
    border-radius: 0.6rem;
   
    
}
.leftcontent{
    animation: slideleft 1s ease forwards;
    opacity: 0;
   text-align: center;
   
}
@keyframes slideleft {
    0%{
         opacity: 0;
         transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);

    }
}
.contentlabel{
    font-size: 1.15rem;
    font-weight: 600;
    color: blue;
}
.contentheading{
    font-size: 2.1rem;
    text-align: center;
    font-family: "archivo black";
    padding: 1.1rem;
}
.contentdescription{
    color: grey;
    font-size: 1.13rem;
    text-align: center;
}
.buttons{
    display: flex;
   gap: 1.2rem;
   padding: 1rem;
   margin-top: 1rem;
   justify-content: center;
}
.start{
    width: 7.5rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    background-color: rgb(4, 4, 4);
    color: white;
    font-family: "archivo black";
    font-weight: bold;
}
.start:hover{
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}
.tour{
    width: 7.5rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    color: white;
    font-family: "archivo black";
    font-weight: bold;
}
.tour:hover{
 background: linear-gradient(to right, #434343 0%, black 100%);
   
}
@media screen and (min-width:1000px) {
    .main{
        flex-direction: row;

    }
    .leftcontent{
        max-width: 50%; 
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem;

        
    }
    .contentlabel{
        text-align: left;
        font-size: 1rem;
    }
    .contentheading{
        text-align: left;
        padding: 0;
        font-size: 3.2rem;

    }
    .contentdescription{
        text-align: left;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        padding-right: 10rem;
    }
    .buttons{
        justify-content: left;
        padding: 0;
    }
   .rightcontent img{
    width: 100%;
    height: 185%;
   }
}
.companylogo img{
    height:2.25rem ;
    
}
.companylogo{
    display: grid;
    grid-template-columns: repeat(4,10rem);
    justify-content: center;
    
}
.company{
    text-align: center;
    font-family: "archivo black";
    margin-top: 1rem; 
    animation: slidedown 1s ease forwards;
}
.design{
    display: flex;
    align-items: center;
    color: #868f96;
    margin-top: 2rem;
}

.company h1{
    font-family: "archivo black";  
}
#linkedin{
    height: 1.5rem;
    margin-right: 0.4rem;
}
#microsoft{
    height:1.5rem ;
    margin-right: 0.3rem;
}
  @media screen and (max-width:1000px) {
    .companylogo{
        grid-template-columns: repeat(2,10rem);
        grid-template-rows: repeat(2,5rem);
    }
  }  
  @keyframes slidedown {
    0%{
         opacity: 0;
         transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);

    }
}
.lower{
    /* height: 100vh;
    width: 100vw; */
   
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    background-color: #e2e8ed;
    margin-top: 1rem;
    
}
.cardsection{
    text-align: center;
    width: 44%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.cardsection h1{
    font-family: "archivo black";
}
.cards{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    color: white;
    padding-bottom: 2rem;
    
}
.card1{
    background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
    border-radius: 0.3rem;

}
.card2{
    background-image: linear-gradient(to bottom right, #ff00b3, #b81855);
    border-radius: 0.3rem;

}
.card3{
    background-image: linear-gradient(to bottom right, #acb20a, #b87d18);
    border-radius: 0.3rem;

}
.card4{
    background-image: linear-gradient(to bottom right, #0cacb1, #09796f);
    border-radius: 0.3rem;

}
.card5{
    background-image: linear-gradient(to bottom right, #4400ff, #b81830);
    border-radius: 0.3rem;

}
.card6{
    background-image: linear-gradient(to bottom right, #019e0e, #18b88d);
    border-radius: 0.3rem;

}
.cards h1{
    font-size: 0.9rem;
}
.cards img{
    height: 1.9rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}
.cards p{
    margin: 1rem;
    margin-top: 0.4rem;
}
@media screen and (max-width:1000px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}
.testimonal{
    /* width: 100vw; */

    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
   
}
.test{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.feedback{
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;

}
.test h1 {
font-family: "archivo black";
font-size: 1.7rem;
}
.feedback h2{
    font-family ;
    color: rgb(85, 85, 219);
}
.feedback img{
   
    width:5rem;
    height:5rem;
    /* border: 1px solid black; */
    border-radius: 5rem;
}
.fbc{
   
    width: 98%;
    padding: 0.8rem;
}
.feedback h2{
    font-size: 0.9rem;
}
.feedback1{
    border: 1px solid rgb(223, 215, 215);
    border-radius: 0.6rem;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    transition: transform 0.5s ease 0s , box-shadow 0.5s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.177) 1.95px 1.95px 2.6px;
    /* animation: huhu 0.8s ease 0s; */
    width: 30%;
}
.pst{
    color: grey;
    padding-bottom: 1rem;
}
.feedback1:hover{
    transform: scale(1.1);
    box-shadow: rgb(200, 0, 255) 1.95px 1.95px 2.6px;
}
@media screen and (max-width:900px) {
    .feedback{
        flex-direction: column;
        align-items: center;
    }
    
}
.newsletter{
   
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.mail{
    display: flex;
    width: 75%;
    
   
   
    
}
.leftmail img{
width: 100%;
height: 100%;
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}
.leftmail{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.rightmail{
    background-color: #e2e8ed;
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 4rem;
}
.rightmail h1{
    color: rgb(53, 53, 241);
    font-family: "archivo black";
}
.rightmail P{
    color: rgb(47, 46, 46);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{

}
.rightmail a{
    color: #0055ff;
}
input{
margin-top: 1rem; 
margin-bottom: 0.5rem; 
padding: 0.3rem;  
border-radius: 0.3rem;
border:1px solid rgba(0, 0, 0, 0.348);
}
#formp{
    font-size: 0.8rem;
}
.rightmail button{
    background-color: #0055ff;
    color: white;
    width: 3.5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (max-width:900px)
{
    .leftmail img{
        height: 0px;
        
    }
    .leftmail{
        height: 25%;
        width: 25%;
    }
}
.leftfooter img{
    height: 2.25rem;
}
.niche{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    
}
.footer{
    width: 75%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}
.rightfooter{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 7rem;
padding-bottom: 3rem;

}

.logoname{
    display: flex;
    font-family: "archivo black";
}
.rightfooter a{
    text-decoration: none;
    color: gray;
}
.rightfooter ul{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.products h1{
    font-family: "archivo black";
    font-size: 1.2rem;
}
.leftfooter{
 display:flex;
 flex-direction: column ;
 gap:1rem;
}
.leftfooter p{
    color: grey;
    font-size: large;
   
}
.images{
    display: flex;
    gap: 0.8rem;
    
}
.images img{
    height: 1.5rem;
}
footer{
    text-align: center;
    padding-bottom: 2rem;
    color: gray;
}
@media screen and (max-width:1247px) {
    .footer{
        flex-direction: column;
    }
    
}
@media screen and (max-width:800px) {
    .rightfooter{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }
    
}